/*importaciones de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Chilanka&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*reseteo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
/*configuraci칩n de variables root*/
:root {
    --main-color: white;
    --secondary-color: #c00000;
    --third-color: rgba(0, 0, 0, 0.679);
}
/*Generalidades*/

body {
    background-color: var(--main-color);
    background-image: url("../assets/img/Para_fondo/fondo_gris.jpg") ;
    background-size: contain;
    max-width: 99vw;
    z-index: -10;
               
    
    
  
h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--main-color);
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    font-style: normal;
    color: var(--main-color);
    margin-bottom: 10px;
    }

h3 {
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: normal;
    color: var(--main-color);
    text-align: center;
    }
/*media querys para dispositivos hasta 800px para el h1 y h2*/
@media screen and (max-width: 800px)    {
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }

                            }
                        }

.headerIndex {
    display: flex;
    width: 99vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: auto;
    font-size: 1rem;
    flex-direction: column;
    padding: 5px;
    position: sticky;
    top:0;
    justify-content: space-between;
    z-index: 10;
               
    @media screen and (max-width: 800px){
        flex-direction: column;
        
    }
    .navYRedes {
        display: flex;
        justify-content: space-between;
        background-color: #c00000;
        border: 1px black solid;
        align-content: center;
        border-radius: 5px;
        @media screen and (max-width: 800px){
            flex-direction: column;}
        .navMenu {
            display: flex;
            padding: 5px, 2px;
            align-items:center;
            align-content: center;
            @media screen and (max-width: 800px){
                flex-direction: column;
                justify-content: center;
            }

            .menu {
                display: flex;
               /*justify-content: flex-start;*/
               @media screen and (max-width: 800px){
                flex-direction: column;}

                li {
                    display: flex;
                    list-style: none;
                    display: flex;
                    padding: 5px 20px;
                    margin-right: 15px;

                    a {
                        font-size: 0.8rem;
                        display: flex;
                        color: var(--main-color);
                        text-decoration: none;
                        text-align: center;
                        font-weight: 600;
                    }
                }
            }
        }

        .navRedes {
            display: flex;
            @media screen and (max-width: 800px){
            text-align: center;
            justify-content: center;
                        }
            
            .redes {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                text-align: justify;
                flex-direction: row;
                /*@media screen and (max-width: 800px){
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;
                                        }*/

                li {
                    display: flex;
                    list-style: none;
                    border-radius: 7PX;
                    padding: 15px 10px;
                    margin-right: 5px;
                    align-items: center;

                    a {
                        display: flex;
                        text-decoration: none;
                        font-size: 0.9rem;
                        font-weight: 900;

                        .fa-brands {
                            display: flex;
                            font-size: 20px;
                            color: var(--main-color);
                        }
                    }
                }

            }
        }
    }

}

.logoYBuscador {
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto ;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
  
    @media screen and (max-width: 800px){
        text-align: center;
        justify-content: center;
        flex-direction: column;
                            }

    #logo {
        display: inline-block;
        filter: brightness(0.8);
        mix-blend-mode: mult0iply;
        height: 8VW;
        border-radius: 15px;
        z-index: -10;
               
    }

    div {
        display: flex;
        align-content: center;

        .nombreEmpresa {
            display: inline-block;
            h4{
                font-size: 0.8rem;
                color: var(--main-color);
            }
            h2 {
                display: block;
                align-content: center;
                font-family: "Playfair Display", serif;
                margin-bottom: 5px ;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .buscador {
        display: inline-block;
        align-content: center;
        text-align: left;
        margin-right: 10px;
        z-index: -10;
               
        h4{
            color: var(--main-color);
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}

.principal {
    text-align: center;
    border: 1px #c00000 solid;
    border-radius: 5px;
    z-index: -10;
               
   
}



.proyectos {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-size:auto;
    border-radius: 7px;
    z-index: -10;
               
    h2 {
        text-align: center;
    }
}

.herramientasProyectos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    background-image: url("../assets/img/Para_fondo/fondo_gris.jpg"), linear-gradient(to bottom, #000000a3, #000000a3);
    backdrop-filter: blur(18px);
    z-index: -10;
               
    
    img {
        display: flex;
        border-radius: 10px;
        min-width: 21vw;
        width: 21vw;
        height: 30vh;
        flex-direction: row;
        align-items: center;
        box-shadow: 10px 10px 5px 0px rgba(227, 32, 32, 0.75);
        border: 2px white snow;
        border-radius: 10px;
        backdrop-filter: blur(18px);
    
         }
    h3{
        margin-bottom: 20px;
        color: var(--main-color);
        }
}

@media screen and (max-width: 800px) {
    .herramientasProyectos{
    height:initial;
    flex-direction: column;
    h3{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    div    {
    background-color: rgb(31, 115, 190);
    display: inline-block;
    text-align: center;
    
    img{
        display: inline-block;
        justify-content: center;
        margin: 50px;
        width: auto;
        width: auto;
    }
    h3{
        display: inline-block;
    }
    }
    }
   
}
.contenedorBotones{
    display: flex;
    justify-content: center;
    
    .button{
        button{
            font-size: 1.2rem;
            display: flex;
            margin-right: 10px;
            border-radius: 5px;
            padding: 5PX;
            }
        display: flex;
        width: 10vw;
        
        
        padding: 10px ;
            }
                }
.loMasBuscado {
    border: 1px #c00000 solid;
    border-radius: 5px;
     h2{
        
        text-align: center;
        display: block;
              }
    
        .buscados{
            justify-content: flex-start;
            align-items: start;
            display: flex;
            overflow-x: scroll ;
            overflow-y: hidden;
            padding: 20px 0px 30px 0px;
            width: 100%;
            column-gap: 20px;
            
            
            img:hover{
            transform: scale(1.1) rotate(9deg);
            }
           
            div{
                border-radius: 50px;
                flex-shrink: 0; 
                
                img{
                    margin-top: 20px;
                    flex-direction: row;
                    border-radius: 8px;
                    display: flex;
                    width: 20vw;
                    height: 30vh;
                    /*margin: 10px;*/
                    align-items: center;
                    justify-content:space-between;
                }
                }
                                 }
       }

.footer {
    border: 1px rgb(19, 18, 18) solid;
    border-radius: 5px;
    width: 98vw;
    min-height: 100px;
    min-width: 100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(to right, #000000a3, #121212a3), url("../assets/img/Para_fondo/fondo_gris.jpg") ;
      
        .footerTextos{
           width: 25vw;

            h4{
                font-size: 1rem;
                margin-bottom: 5px;
                margin-top: 20px;
                color: var(--main-color);
                text-align: center;
                justify-content: flex-end;
                }
                a{
                text-decoration: none;
                color: var(--main-color);
                }
                    }
        .pagoEnvioDataFiscal{
            display: flex;
            justify-content: space-between;
            width: 60vw;
            display: flex;
                           
                .formasDePago{
                    color:var(--main-color);
                    display: flex;
                    flex-direction: column;
                    h4{
                    font-size: 1.2rem;
                    text-align: center;
                    display: block;
                    margin-bottom: 5px;
                    }
                    img{
                        margin-top: 5px;
                        border-radius: 5px;
                        margin-left: 5px;
                        display:flex;
                        /*filter: brightness(1.5);
                        mix-blend-mode:multiply;*/
                    }  
                            }
                
                .envios{
                    display: block;
                    h4{ 
                        font-size: 1.2rem;
                        text-align: center;
                        display: block;
                        color: var(--main-color);
                        margin-bottom: 5px;
                        }
                        
                        img{
                            display: flex;
                            border-radius: 10px;  
                            width: 12vw;
                            height: 16vh;
                           /* filter: brightness(1.1);
                            mix-blend-mode: multiply;*/
                        }
                                    
                }
                .dataFiscal{
                    display: flex;
                    flex-direction: column;
                    h4 {
                        font-size: 1.2rem;
                        text-align: center;
                        display: block;
                        color: var(--main-color);
                        margin-bottom: 5px;
                            } 
                            
                            img{
                                display: flex;
                                border-radius: 5px ;
                                width: 11vw;
                                height: 17vh;

                            }
                }
                            }
                            
                        .footerUbicacion{
                            h4{
                                font-size: 1.2rem;
                                text-align: center;
                                display: block;
                                color: var(--main-color);
                                margin-bottom: 10px;
                                }
                                .mapa{
                                    text-align: center;
                                }

                            width: 25vw;
                     }
    .fa-brands,
    .fa-solid,
    .fa-square {
        font-size: 55px;
        color: rgb(28, 170, 28);
        position:fixed;
        bottom: 25px;
        right: 15px;
        border-radius: 50%;
           }
}
.mainDescripcionProyecto{
    width: 95vw;
    margin: 20px;
    display: flex;
    background-size:auto;
    
        .alba침ileria{
            display: flex;
            width: 98vw;
            text-align: center;
            font-size: 2rem;
            flex-direction:column;
            justify-content:space-evenly;
                    
            .parrafoProyectoAlba침ileria>p{
                line-height: 1.7rem;
                display: inline-block;
                width: 98%;
                text-align:justify;
                margin: 20px;
                flex-wrap: wrap;
                color: var(--main-color);
                font-size: 1.2rem;
                
                
                .spanParrafo{
                    display: block;
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 800;
                }
                                    }

            .tareasAlba침ileria{
                height: 100vh;
                max-height: 100vh;
                max-width: 100vw;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap:wrap;
                flex-direction: row;
                gap: 10px;
                overflow-y:auto;
                
               
                img{
                    display: flex;
                    width: 35vw;
                    height: 35vh;
                    max-height: 35%;
                    max-width: 95%;
                    justify-content: center;
                    margin: 10px;
                    border-radius: 25px; 
                    text-align: center; 
                                    
                    }
                
                
                .bloquesConHierro, .colocandoCeramica, .levantandoUnaPared, .revocandoUnaPared{
                    flex-wrap: wrap;
                    object-fit: contain;
                    display: inline-block;
                    border: white solid 2px;
                    border-radius: 10px;
                    background-image: url("../assets/img/Para_fondo/fondo_gris.jpg"), linear-gradient(to bottom, #000000a3, #000000a3);
                    backdrop-filter: blur(18px);
                        
                    
                    p{
                        display: flex;
                        width:35vw;
                        height: 15vh;
                        max-width: 40vw;
                        text-align: center;
                        overflow-x:auto;
                        margin: 0 auto;
                        color: var(--main-color);
                        font-size: 1.1em;
                        font-weight: 500;
                        line-height: 1.7rem;
                                      }
                img{
                    
                    border-radius: 25px; 
                    object-fit:cover;
                     }
                                                     
            }
            
                        }
                        }
  
    }
    .form {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        div{
           
           display: flex;
            justify-content: space-around; 
            align-content:center;
            margin-bottom: 10px;
            
            .enviar, .reset{
                font-size: 1.2rem;
                display: block;
                border-radius: 25px;
                padding: 10px;
                
             
                           }
            
                        }
            form{
              
               margin-bottom: 20px; 
               
                label{
                    display: flex;
                    color: white;
                    font-size: 1.4rem;
                                       
                                   }
                input{
                    display: block;
                    justify-content: left;
                    align-items: center;
                    border: 3px solid black;
                    font-size: 1.5;
                    
                }
                .textArea{

                    display: flex;
                    align-items: center;
                }

                .checkbox{
                    display: flex;
                    justify-content: center;
                    label{
                    text-align: left;
                  
                    font-size: 1rem;
                    margin-right: 10px;
                }
                    
                    }
                    

               .userName, .lastName, .userMail, .password, .birthday{
                display: block;
                    justify-content: center;
                    text-align: center;
                    align-content: center;
                    align-items: flex-start;
                  
                }

                            }
              }
@media screen and  (max-width: 800px) {
    .form{
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        
    }
    
}

